* {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 15px;
}

body {
  background: black;
  display: flex;
  padding: 5%;

}

#container {
  color: whitesmoke;
  height: calc(100%)
}

h1 {
  color: whitesmoke;
}

.player_1_score {
  margin-right: 1em;
}

.computer_score {
  margin-left: 1em;
}

.ball {
  color: whitesmoke;
}

.net {
  color: whitesmoke;
  border-right: 6px dashed;
  height: 100%;
  left: calc(50% - 3px);
  top: 0;
  width: 0;
  
}

.paddle_1 {
  color: whitesmoke;
  left: 0;
}

.computer_paddle {
  color: whitesmoke;
  right: 0;
}