* {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 15px;
}

body {
  background: black;
  display: flex;
  text-align: center;
}

h1 {
  color: whitesmoke;
  margin: auto;
}

#player_1_score {
  margin-left: 1em;
}

#computer_score {
  margin-right: 1em;
}

.ball {
  color: whitesmoke;
}

.net {
  color: whitesmoke;
  border-right: 6px dotted;
  height: 75%;
  top: 0;
  width: 0;
}

.paddle_1 {
  color: whitesmoke;
  left: 0;
}

.computer_paddle {
  color: whitesmoke;
  right: 0;
}