* {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 15px;
}

body {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: whitesmoke;

}

.court {

}

.Player1_score {

}

.Player2_score {
  
}

.ball {
  color: whitesmoke;
}

.net {
  color: whitesmoke
}

.Paddle-1 {
  color: whitesmoke;
}

.Paddle-2 {
  color: whitesmoke;
}